<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   <h2 style="color:orange; text-align:center;">Благодарим,Вашето мнение е важно за нас ! <br>Очаквайте отговор от наш служител в рамките на 2 работни дни.</h2>
</main>
<th:block th:include="~{_shared/footer}" />
</body>
</html>