<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 style="text-align: center;">Благодарим ,че избрахте "Звънче".<br> Записването на Вашето дете е успешно. <br>Моля
        очаквайте
        обаждане от нас в срок от 5 работни дни <br>за повече информация.&nbsp;</h4>

</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>