<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 style="text-align: center;"><strong>група <a href="sun">Слънце</a>&nbsp;</strong></h3>
    <h3 style="text-align: center;"><strong>група <a href="kalinka">Калинка</a>&nbsp;</strong></h3>
    <h3 style="text-align: center;"><strong>група <a href="svetulka">Светулка</a>&nbsp;</strong></h3>
    <h3 style="text-align: center;"><strong>група <a href="rusalka">Русалка</a>&nbsp;</strong></h3>
    <h3 style="text-align: center;"><strong>група <a href="star">Звездичка</a>&nbsp;</strong></h3>

</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>