<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <h3 style="text-align: center; ">група Калинка</h3>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/img/kalinka1.jpg" alt="" width="20%" /></p>
    <p style="text-align: center;">Вижте таз детска градина<br />води я пъстра калинка!<br />Води я смело напред<br />за щастие и за късмет.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>УЧИТЕЛИ</strong>:</p>

    <h4 style="text-align: center;">АНИ Георгиева - старши учител</h4>
    <h4 style="text-align: center;">СТЕЛА ЛЕЧЕВА - учител&nbsp;</h4>

</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>