<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container" style="text-align: center; ">
        <p ><strong>Електронна система за записване на децата <a href="login">ТУК</a>&nbsp;</strong></p>
        <p class="h4">Необходими документи за записване в детската градина:</p>
        <p class="h4">1. Акт за раждане на детето (копие)</p>
        <p class="h4">2.Медицински документи при постъпване на детето в ДЕТСКА ГРАДИНА</p>
        <p> <strong> <span style="font-size: 14pt;">ВАЖНО!!! Деца, на които не са извършени задължителните имунизации за възрастта,</span> </strong> </p>
        <p><strong> <span style="font-size: 14pt;"> могат да бъдат приети, когато са налице трайни противопоказания за </span> </strong> </p>
        <p><strong> <span style="font-size: 14pt;"> имунизирането им и са освободени с протокол от РЗИ. </span> </strong> </p>
        <p class="h5">. Здравно - профилактична карта /от личния лекар на детето/.</p>
        <p class="h5">. Талон за общо здравословно състояние - от личния лекар на детето.</p>
        <p class="h5">. Талон за проведени профилактични прегледи - от личния лекар на детето.</p>
        <p class="h5">. Изследване от РЗИ - микробиологично, срок 15 дни от датата на издаване.</p>
        <p class="h5">. Изследване от РЗИ - паразитологично, срок 15 дни от датата на издаване.</p>
        <p class="h5">. Изследвания на кръв и урина на детето, срок 7 дни от датата на издаване.</p>
        <p class="h4"><strong><span style="font-size: 14pt; color: #ff0000;">Всички медицински документи се подготвят непосредствено преди</span></strong></p>
        <p class="h4"> <strong><span style="font-size: 14pt; color: #ff0000;">постъпване на детето в детската градина.</span></strong></p>

    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>