<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <h3 style="text-align: center; ">група Русалка</h3>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/img/rusalka.jpg" alt="" width="20%"/>
    </p>
    <p>&nbsp;</p>
    <p style="text-align: center;">Приказка за малката русалка знаем <br/>и дори на палави русалки си играем.<br/>Даже
        групата си кръстихме така-<br/>- Ха, дано върви ни по вода!</p>

    <p style="text-align: center;"><strong>УЧИТЕЛИ</strong>:</p>


    <h4 style="text-align: center;">ИВАНКА КРУМОВА - учител</h4>
    <h4 style="text-align: center;">ЗДРАВКА ЗДРАВКОВА- учител</h4>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>