<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <h3 style="text-align: center; "> група Звездичка</h3>
    <p style="text-align: center;"><img src="/img/star.jpg" alt="" width="20%"/></p>
    <p style="text-align: center;">&nbsp;Аз Звездичка се наричам, и децата най-обичам!</p>
    <p style="text-align: center;">Искам да сляза на земята, да играя с децата.</p>
    <p style="text-align: center;">Да се насладя на красотата, да спра на планината,</p>
    <p style="text-align: center;">после да се върна в небесата, да разкажа всичко на Луната!</p>

    <p style="text-align: center;"><strong>УЧИТЕЛИ</strong>:</p>

    <h4 style="text-align: center;">НЕЛИ ПЕТКОВА</h4>
    <h4 style="text-align: center;">ЯНИЦА ДЕЛЕВА</h4>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>