<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <h3 style="text-align: center; "> група Слънце</h3>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/img/sun1.jpg" alt="" width="20%"/></p>
    <p style="text-align: center;">Слънчице засмяно,<br/>слънчице добричко,<br/>все към теб протягам<br/>двете си
        ръчички.</p>
    <p style="text-align: center;"></p>
    <p style="text-align: center;">И ми става леко,<br/>леко на сърцето.<br/>Слънчице да грее<br/>всеки ден в небето!
    </p>

    <p style="text-align: center;"><strong>УЧИТЕЛИ</strong>:</p>

    <h5 style="text-align: center;">ИВАНА ДИМИТРОВА - учител</h5>
    <h5 style="text-align: center;">ГЕРГАНА НАЧЕВА - учител</h5>

</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>