<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head-priem}"/>

<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <h3 style="text-align: center; "> група Светулка</h3>
    <p style="text-align: center;"><img src="/img/svetulka1.jpg" alt="" width="15%"/></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Светне там, след миг е тука<br/>после чезне без следа.<br/>Улових я!<br/>На челото ми
        сега блещука<br/>като мъничка звезда.<br/>Сетихте ли се деца,<br/>че Светулката е тя?</p>

    <p style="text-align: center;"><strong>УЧИТЕЛИ</strong>:</p>

    <h4 style="text-align: center;">ГАБРИЕЛА ПЕТРОВА - учител</h4>
    <h4 style="text-align: center;">САРА КИСЕЛОВА &ndash; учител</h4>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>